$ui-tagfield-ui-tag-field-item-background-color: dynamic($tag-field-item-background-color);
$ui-tagfield-ui-tag-field-padding: dynamic($tag-field-padding);
$ui-tagfield-ui-tag-field-item-padding: dynamic($tag-field-item-padding);
$ui-tagfield-ui-tag-field-item-color: dynamic($tag-field-item-color);
$ui-tagfield-ui-tag-field-item-height: dynamic($tag-field-item-height);
$ui-tagfield-ui-tag-field-item-margin: dynamic($tag-field-item-margin);
$ui-tagfield-ui-tag-field-item-border-color: dynamic($tag-field-item-border-color);
$ui-tagfield-ui-tag-field-item-border-width: dynamic($tag-field-item-border-width);
$ui-tagfield-ui-tag-field-item-border-style: dynamic($tag-field-item-border-style);
$ui-tagfield-ui-tag-field-item-border-radius: dynamic($tag-field-item-border-radius);
$ui-tagfield-ui-tag-field-item-close-icon-top: dynamic($tag-field-item-close-icon-top);
$ui-tagfield-ui-tag-field-item-close-icon-right: dynamic($tag-field-item-close-icon-right);
$ui-tagfield-ui-tag-field-item-close-icon-spacing: dynamic($tag-field-item-close-icon-spacing);
$ui-tagfield-ui-tag-field-item-close-icon-glyph-color: dynamic($tag-field-item-close-icon-glyph-color);
$ui-tagfield-ui-tag-field-item-close-icon-opacity: dynamic($tag-field-item-close-icon-opacity);
$ui-tagfield-ui-tag-field-item-close-icon-glyph: dynamic($tag-field-item-close-icon-glyph);
$ui-tagfield-ui-tag-field-item-over-color: dynamic($tag-field-item-over-color);
$ui-tagfield-ui-tag-field-item-over-border-color: dynamic($tag-field-item-over-border-color);
$ui-tagfield-ui-tag-field-item-over-background-color: dynamic($tag-field-item-over-background-color);
$ui-tagfield-ui-tag-field-item-over-close-icon-glyph-color: dynamic($tag-field-item-over-close-icon-glyph-color);
$ui-tagfield-ui-tag-field-item-close-icon-opacity-over: dynamic($tag-field-item-close-icon-opacity-over);
$ui-tagfield-ui-tag-field-item-close-icon-opacity-pressed: dynamic($tag-field-item-close-icon-opacity-pressed);